body{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: indianred;
    color: lavender;
    height: 1000px;
}

.navbar-brand h1 a{
   text-decoration: none;
}




#header-nav{
    background-color: lightpink;
    border-radius: 0%;
    border: 0;
    

}

.navbar-brand{
    padding-top: 25px;
}

.navbar-brand h1{
    color: cornsilk;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 2px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}



#food-items{
    color: darkmagenta;
    font-weight: 700;
    text-align: center;
    
    
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle{
    clear: both;
    margin-top: -30px;

}
#nav-list{
    margin-top:10px;
    
}



/*Home Page*/

.container{
    width: 90vw;
    margin:0;
}



h2{
    font-weight: 800;
    color: rgb(162, 211, 156);
    text-shadow: 1px 1px 1px rgb(75, 2, 2);
    margin-bottom: 20px;
}

section{
    border: 1px solid tan;
    margin: 3vw;
    color: rgb(210, 230, 170);
    overflow: auto;
}

section h3{
    color: turquoise;
}



/*End of Home Page*/


/*Menu Categories*/

/*end Menu categories*/

/*Single Category*/


/*End of single category*/

/*FOOTER*/


/*END FOOTER*/

@media(min-width:1200px){

}

@media(min-width:992px) and (max-width:1199px){

    
}

@media(min-width:768px) and (max-width:991px){

}

@media(max-width:767px){

    
}

@media(max-width:479px){

  
}
